# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
DerivedData/
build/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

fastlane/report.xml
fastlane/screenshots
fastlane/screenshots_ipad
fastlane/screenshots_organized/
fastlane/screenshots_ipad_organized/

metropolist/transit.store
CLAUDE.md
ideas/.build/

proposals/
ideas/